/* Generals */

:root {
    --color-1: #5E6070;
    --color-2: #648CF6;
    --color-3: #F7F8FF;
    --color-4: #72789A;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    background-color: var(--color-2);
}

img.card {
    aspect-ratio: 1 / 1;
    background-color: var(--color-3);
    padding: 1vw 1vw 1vw 0;
    border-radius: 10%;
}

/* Selection Zone */

.selection-zone {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    height: 100%;
    min-width: 10vw;
    width: fit-content;
    margin: 0;
    padding: 4vw;
    gap: 3vh;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.selection-zone img.card {
    flex: auto;
    min-width: 9vw;
    width: 11vw;
}

/* Play Zone */

.play-zone {
    flex: 5 0 0;
}