/* Generals */

:root {
    --color-1: #5E6070;
    --color-2: #648CF6;
    --color-3: #F7F8FF;
    --color-4: #72789A;
}

body {
    margin: 0;
}

.selection-zone {
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    height: 100vh;
    width: fit-content;
    margin: 0;
    padding: 4vw;
}